openapi: 3.1.0
info:
  title: JenaValve Discover AR Site API (WordPress REST)
  version: '1.0'
  summary: Anonymously readable content REST surface served by discover-ar.com at /wp-json.
  description: >-
    Derived, third-party OpenAPI description of the anonymously readable portion of the
    WordPress REST API served by Discover AR (https://discover-ar.com/wp-json), JenaValve
    Technology's aortic-regurgitation patient- and clinician-education site, linked from the
    jenavalve.com main navigation as "Resources".

    The substantive content here is a small curated education library — 13 posts segmented by
    a purpose-built category taxonomy of `articles` (4), `videos` (6), `audio` (3) and
    `presentations` (0), plus 9 pages and 63 media items. That taxonomy is the one genuinely
    editorial signal on either JenaValve site: it makes the AR education library retrievable
    by media format without scraping HTML.

    Every operation below was individually probed anonymously on 2026-08-04 and returned HTTP
    200. `wp/v2/settings` returns 401 anonymously and is not described. Write methods are not
    described: the surface answers `Allow: GET` anonymously and no write was ever attempted.
  x-derived-by: API Evangelist enrichment pipeline
  x-derivation-method: probed
  x-derivation-note: >-
    Derived from the WordPress route-discovery document at https://discover-ar.com/wp-json
    (8 namespaces, 197 routes) plus direct anonymous probing of each route.
  x-not-an-api-product: true
  contact:
    name: JenaValve Technology
    url: https://jenavalve.com/contact/
servers:
  - url: https://discover-ar.com/wp-json
    description: Discover AR WordPress REST API
tags:
  - name: Discovery
    description: Route and capability discovery documents.
  - name: Content
    description: The AR education library — posts, pages and site search.
  - name: Media
    description: Uploaded media library items.
  - name: Taxonomy
    description: The articles / videos / audio / presentations category taxonomy.
  - name: SEO
    description: Yoast SEO head-metadata endpoint.
  - name: oEmbed
    description: oEmbed provider endpoint for discover-ar.com URLs.
paths:
  /:
    get:
      tags: [Discovery]
      operationId: getDiscoverArApiIndex
      summary: Get the API index
      description: >-
        Returns the site's WordPress REST route-discovery document — site name, description,
        home URL, the 8 registered namespaces and the full 197-route index.
      responses:
        '200':
          description: Route discovery document
          content:
            application/json:
              schema:
                type: object
  /wp/v2/posts:
    get:
      tags: [Content]
      operationId: listDiscoverArPosts
      summary: List AR education library items
      description: >-
        Lists the published education library — 13 items on 2026-08-04. Filter by the
        `categories` parameter to segment by media format (articles, videos, audio,
        presentations). Total count is in `X-WP-Total`.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/OrderBy'
        - $ref: '#/components/parameters/Order'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Fields'
        - name: categories
          in: query
          description: >-
            Limit to posts in one or more category IDs — 12 articles, 13 videos, 15 audio,
            14 presentations.
          schema:
            type: array
            items:
              type: integer
      responses:
        '200':
          description: A page of education library items
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/posts/{id}:
    get:
      tags: [Content]
      operationId: getDiscoverArPost
      summary: Get an education library item by ID
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: A single post
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/InvalidPostId'
  /wp/v2/pages:
    get:
      tags: [Content]
      operationId: listDiscoverArPages
      summary: List site pages
      description: Lists published pages — 9 items on 2026-08-04.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Fields'
      responses:
        '200':
          description: A page of pages
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Post'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/pages/{id}:
    get:
      tags: [Content]
      operationId: getDiscoverArPage
      summary: Get a page by ID
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: A single page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Post'
        '404':
          $ref: '#/components/responses/InvalidPostId'
  /wp/v2/search:
    get:
      tags: [Content]
      operationId: searchDiscoverAr
      summary: Search AR education content
      description: >-
        Cross-type site search over the AR education library, returning lightweight
        `{id, title, url, type, subtype}` hits.
      parameters:
        - name: search
          in: query
          required: true
          description: Free-text query.
          schema:
            type: string
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - name: subtype
          in: query
          description: Restrict to a post subtype (e.g. post, page).
          schema:
            type: string
      responses:
        '200':
          description: Search hits
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SearchResult'
        '400':
          $ref: '#/components/responses/InvalidParam'
  /wp/v2/media:
    get:
      tags: [Media]
      operationId: listDiscoverArMedia
      summary: List media library items
      description: Lists uploaded media — 63 items on 2026-08-04.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Search'
        - $ref: '#/components/parameters/Fields'
        - name: media_type
          in: query
          description: Limit to a media type.
          schema:
            type: string
            enum: [image, video, text, application, audio]
      responses:
        '200':
          description: A page of media items
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
            Link:
              $ref: '#/components/headers/LinkPagination'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MediaItem'
  /wp/v2/media/{id}:
    get:
      tags: [Media]
      operationId: getDiscoverArMediaItem
      summary: Get a media item by ID
      parameters:
        - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: A single media item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MediaItem'
        '404':
          $ref: '#/components/responses/InvalidPostId'
  /wp/v2/categories:
    get:
      tags: [Taxonomy]
      operationId: listDiscoverArCategories
      summary: List education-format categories
      description: >-
        Lists the category taxonomy that segments the AR education library by media format —
        `articles` (id 12, 4 items), `videos` (id 13, 6), `audio` (id 15, 3),
        `presentations` (id 14, 0) and `uncategorized` (id 1, 0).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
        - $ref: '#/components/parameters/Slug'
        - name: hide_empty
          in: query
          description: Omit terms that have no assigned posts.
          schema:
            type: boolean
      responses:
        '200':
          description: A page of category terms
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/tags:
    get:
      tags: [Taxonomy]
      operationId: listDiscoverArTags
      summary: List post tags
      description: Lists the post_tag taxonomy. Empty on 2026-08-04 (0 terms).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of tag terms
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Term'
  /wp/v2/users:
    get:
      tags: [Content]
      operationId: listDiscoverArAuthors
      summary: List public content authors
      description: >-
        Lists the public author profiles attached to published content — one on 2026-08-04.
        Only public byline fields are returned anonymously.
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of public author profiles
          content:
            application/json:
              schema:
                type: object
  /wp/v2/types:
    get:
      tags: [Discovery]
      operationId: listDiscoverArContentTypes
      summary: List registered content types
      description: >-
        Returns the 11 registered post types and their REST bases. Unlike jenavalve.com this
        site registers no custom post type.
      responses:
        '200':
          description: Map of content types keyed by slug
          content:
            application/json:
              schema:
                type: object
  /wp/v2/taxonomies:
    get:
      tags: [Discovery]
      operationId: listDiscoverArTaxonomies
      summary: List registered taxonomies
      responses:
        '200':
          description: Map of taxonomies keyed by slug
          content:
            application/json:
              schema:
                type: object
  /wp/v2/statuses:
    get:
      tags: [Discovery]
      operationId: listDiscoverArPostStatuses
      summary: List post statuses visible anonymously
      responses:
        '200':
          description: Map of statuses keyed by slug
          content:
            application/json:
              schema:
                type: object
  /wp/v2/blocks:
    get:
      tags: [Content]
      operationId: listDiscoverArReusableBlocks
      summary: List reusable block patterns
      description: Lists reusable blocks. Empty on 2026-08-04 (0 items).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of reusable blocks
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /wp/v2/navigation:
    get:
      tags: [Content]
      operationId: listDiscoverArNavigationMenus
      summary: List block-editor navigation menus
      description: Lists `wp_navigation` items. Empty on 2026-08-04 (0 items).
      parameters:
        - $ref: '#/components/parameters/Page'
        - $ref: '#/components/parameters/PerPage'
      responses:
        '200':
          description: A page of navigation menus
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
  /yoast/v1/get_head:
    get:
      tags: [SEO]
      operationId: getYoastHead
      summary: Get Yoast SEO head metadata for a URL
      description: >-
        Returns the rendered `<head>` SEO metadata block (title, meta description, canonical,
        Open Graph, Twitter card and schema.org JSON-LD) that Yoast SEO v27.2 emits for any
        discover-ar.com URL. Useful for retrieving structured metadata about an education
        library item without parsing the page.
      parameters:
        - name: url
          in: query
          required: true
          description: The discover-ar.com URL to describe.
          schema:
            type: string
            format: uri
      responses:
        '200':
          description: Rendered head metadata
          content:
            application/json:
              schema:
                type: object
                properties:
                  html:
                    type: string
                    description: The rendered head HTML block including schema.org JSON-LD.
                  json:
                    type: object
                    description: Structured representation of the same metadata.
        '404':
          $ref: '#/components/responses/NotFound'
  /oembed/1.0/embed:
    get:
      tags: [oEmbed]
      operationId: getDiscoverArOembed
      summary: Get an oEmbed response for a discover-ar.com URL
      parameters:
        - name: url
          in: query
          required: true
          description: The discover-ar.com URL to embed.
          schema:
            type: string
            format: uri
        - name: format
          in: query
          description: Response format.
          schema:
            type: string
            enum: [json, xml]
            default: json
      responses:
        '200':
          description: oEmbed document
          content:
            application/json:
              schema:
                type: object
        '404':
          $ref: '#/components/responses/NotFound'
components:
  headers:
    XWPTotal:
      description: Total number of items in the unpaginated collection.
      schema:
        type: integer
    XWPTotalPages:
      description: Total number of pages available at the current per_page size.
      schema:
        type: integer
    LinkPagination:
      description: RFC 8288 Link header carrying `rel="next"` and `rel="prev"` page URLs.
      schema:
        type: string
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: Unique numeric identifier for the object.
      schema:
        type: integer
    Page:
      name: page
      in: query
      description: One-based page of the collection to return.
      schema:
        type: integer
        minimum: 1
        default: 1
    PerPage:
      name: per_page
      in: query
      description: Items per page. Maximum 100.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Search:
      name: search
      in: query
      description: Limit results to those matching a free-text string.
      schema:
        type: string
    Slug:
      name: slug
      in: query
      description: Limit results to objects with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    OrderBy:
      name: orderby
      in: query
      description: Sort collection by object attribute.
      schema:
        type: string
        enum: [date, id, include, modified, relevance, slug, title]
    Order:
      name: order
      in: query
      description: Sort direction.
      schema:
        type: string
        enum: [asc, desc]
        default: desc
    Fields:
      name: _fields
      in: query
      description: Sparse fieldset — comma-separated list of top-level fields to include.
      schema:
        type: string
  responses:
    InvalidParam:
      description: A query parameter failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_invalid_param
            message: 'Invalid parameter(s): per_page'
            data:
              status: 400
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    InvalidPostId:
      description: No object exists with the given ID.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            code: rest_post_invalid_id
            message: Invalid post ID.
            data:
              status: 404
  schemas:
    Error:
      type: object
      description: >-
        The WordPress REST error envelope — `application/json` with a bespoke
        `{code, message, data.status}` shape, not RFC 9457 problem+json.
      properties:
        code:
          type: string
        message:
          type: string
        data:
          type: object
          properties:
            status:
              type: integer
            params:
              type: object
      required: [code, message]
    Rendered:
      type: object
      properties:
        rendered:
          type: string
        protected:
          type: boolean
    Post:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        modified:
          type: string
          format: date-time
        slug:
          type: string
        status:
          type: string
        type:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        content:
          $ref: '#/components/schemas/Rendered'
        excerpt:
          $ref: '#/components/schemas/Rendered'
        author:
          type: integer
        featured_media:
          type: integer
        categories:
          type: array
          description: Category term IDs — the media-format segmentation of the library.
          items:
            type: integer
        tags:
          type: array
          items:
            type: integer
        meta:
          type: object
        _links:
          type: object
      required: [id, slug, link, title]
    MediaItem:
      type: object
      properties:
        id:
          type: integer
        date:
          type: string
          format: date-time
        slug:
          type: string
        link:
          type: string
          format: uri
        title:
          $ref: '#/components/schemas/Rendered'
        alt_text:
          type: string
        media_type:
          type: string
        mime_type:
          type: string
        media_details:
          type: object
        post:
          type: integer
        source_url:
          type: string
          format: uri
        _links:
          type: object
      required: [id, source_url, mime_type]
    Term:
      type: object
      properties:
        id:
          type: integer
        count:
          type: integer
        description:
          type: string
        link:
          type: string
          format: uri
        name:
          type: string
        slug:
          type: string
        taxonomy:
          type: string
        parent:
          type: integer
        _links:
          type: object
      required: [id, name, slug, taxonomy]
    SearchResult:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        url:
          type: string
          format: uri
        type:
          type: string
        subtype:
          type: string
        _links:
          type: object
      required: [id, title, url, type]
