openapi: 3.2.0
info:
  title: JenaValve Site API (WordPress REST) Authors API
  version: '1.0'
  summary: Anonymously readable content REST surface served by jenavalve.com at /wp-json.
  description: 'Derived, third-party OpenAPI description of the anonymously readable portion of the WordPress REST API served by the JenaValve corporate site at https://jenavalve.com/wp-json. JenaValve Technology publishes no developer API programme, no portal, no documentation and no keys; this is an incidental surface exposed by the site''s CMS, described here because it is a real, machine-readable, publicly reachable contract.

    Every operation below was individually probed anonymously on 2026-08-04 and returned HTTP 200. Routes that returned 401/403 anonymously (wp/v2/settings, wp/v2/block-types, wp/v2/menu-items, cky/v1/*, contact-form-7/v1/*, wp-site-health/v1/*, wp-abilities/v1/abilities) are deliberately NOT described here — see conformance/ and authentication/ for the full access-posture record. Write methods are not described: the surface answers `Allow: GET` anonymously and no write was ever attempted.'
  x-derived-by: API Evangelist enrichment pipeline
  x-derivation-method: probed
  x-derivation-note: Derived from the WordPress route-discovery document at https://jenavalve.com/wp-json plus direct anonymous probing of each route. Schemas describe the fields actually observed in responses; they are not a JenaValve-published contract.
  x-not-an-api-product: true
  contact:
    name: JenaValve Technology
    url: https://jenavalve.com/contact/
servers:
- url: https://jenavalve.com/wp-json
  description: JenaValve corporate site WordPress REST API
tags:
- name: Authors
  description: Public author profiles attached to published content.
paths:
  /wp/v2/users:
    get:
      tags:
      - Authors
      operationId: listAuthors
      summary: List public content authors
      description: Lists the public author profiles attached to published content — two on 2026-08-04. WordPress exposes only the public byline fields anonymously (name, slug, link, avatar); email and role are not returned without authentication.
      parameters:
      - $ref: '#/components/parameters/Page'
      - $ref: '#/components/parameters/PerPage'
      - $ref: '#/components/parameters/Search'
      - $ref: '#/components/parameters/Slug'
      responses:
        '200':
          description: A page of public author profiles
          headers:
            X-WP-Total:
              $ref: '#/components/headers/XWPTotal'
            X-WP-TotalPages:
              $ref: '#/components/headers/XWPTotalPages'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Author'
  /wp/v2/users/{id}:
    get:
      tags:
      - Authors
      operationId: getAuthor
      summary: Get a public author profile by ID
      parameters:
      - $ref: '#/components/parameters/Id'
      responses:
        '200':
          description: A single public author profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Author'
        '404':
          $ref: '#/components/responses/NotFound'
components:
  parameters:
    Slug:
      name: slug
      in: query
      description: Limit results to objects with one or more specific slugs.
      schema:
        type: array
        items:
          type: string
    PerPage:
      name: per_page
      in: query
      description: Items per page. Maximum 100 — `per_page=200` is rejected with HTTP 400 `rest_invalid_param`.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10
    Page:
      name: page
      in: query
      description: One-based page of the collection to return.
      schema:
        type: integer
        minimum: 1
        default: 1
    Search:
      name: search
      in: query
      description: Limit results to those matching a free-text string.
      schema:
        type: string
    Id:
      name: id
      in: path
      required: true
      description: Unique numeric identifier for the object.
      schema:
        type: integer
  headers:
    XWPTotalPages:
      description: Total number of pages available at the current per_page size.
      schema:
        type: integer
    XWPTotal:
      description: Total number of items in the unpaginated collection.
      schema:
        type: integer
  responses:
    NotFound:
      description: The requested object does not exist.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Author:
      type: object
      description: Public author byline. Only the fields WordPress exposes anonymously are present — no email address and no role are returned without authentication.
      properties:
        id:
          type: integer
        name:
          type: string
        url:
          type: string
        description:
          type: string
        link:
          type: string
          format: uri
        slug:
          type: string
        avatar_urls:
          type: object
          description: Gravatar URLs keyed by pixel size.
        meta:
          type: object
        acf:
          type: object
        _links:
          type: object
      required:
      - id
      - name
      - slug
    Error:
      type: object
      description: The WordPress REST error envelope. This is NOT RFC 9457 problem+json — it is served as `application/json` with a bespoke `{code, message, data.status}` shape.
      properties:
        code:
          type: string
          description: Machine-readable error slug, e.g. `rest_post_invalid_id`.
        message:
          type: string
          description: Human-readable message.
        data:
          type: object
          properties:
            status:
              type: integer
              description: HTTP status code, repeated in the body.
            params:
              type: object
              description: Per-parameter validation messages, present on `rest_invalid_param`.
      required:
      - code
      - message
